.toDo {
  text-align: left;
  margin-top: 50px;
}

.task-input input {
  padding: 5px;
  margin-right: 10px;
}
textarea {
  border-radius: 12px;
}
.task-list {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.task-list input {
  flex: 1;
  padding: 5px;
}

.task-list button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.toDoItems1 {
  padding: 1rem 0.5rem;
  background-color: #f0f1f1;
  border-left: 10px solid #f44336;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: 2px solid #d6e5f5;
}
.taskName b {
  margin-left: 10px;
  font-size: larger;
}
.toDoItems1 p {
  margin-left: 25px;
}
.datePriority {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  margin-left: 25px;
}
.date,
.priority {
  padding: 5px;
  border-radius: 5px;
}
