.toDo {
  text-align: left;
  margin-top: 50px;
}

.task-input input {
  padding: 5px;
  margin-right: 10px;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.task-list input {
  flex: 1;
  padding: 5px;
}

.task-list button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
